* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root {
    --primarycolor: #6F96A6;
    --secondcolor: #8ABF92;
    --thirdcolor: #F2C791;
    --fourthcolor: #A65F21;
    --fifthcolor: #A60303;
    --fontone: 'Oswald', sans-serif;
    --fontpirate:  'Pirata One', cursive;
}
body {
    background-color: rgba(0, 255, 255, 0.116);
}

nav {
    background-color: var(--primarycolor);
    padding: 10px;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
}

nav img {
    margin: 0 10px 0 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 20px 0 0;
    font-family: var(--fontpirate);
    color: var(--fifthcolor);
    font-weight: bold;

}

header {
    position: fixed;
    background-image: url('../img/mar-one-piece.jpg');
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

header section h1 {
    text-align: center;
    padding: 40px 0 0 0;
    color: #f5f25b;
    font-size: 2.5em;
    text-shadow: 0px 0px 3px yellow;
    
}

main {
    padding: 40px;
    background-color: white;
    margin: 60px 60px;
}

main section h2 {
    text-shadow: 1px 1px 2px black;
    color: #A60303;
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 2em;
    font-family: var(--fontpirate);
}

.brief-summary {
    text-indent: 10px;
    font-family: sans-serif;
    padding: 10px ;
    line-height: 2em;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 1.2rem;
    text-align: justify;
}

