* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root {
    --primarycolor: #6F96A6;
    --secondcolor: #8ABF92;
    --thirdcolor: #F2C791;
    --fourthcolor: #A65F21;
    --fifthcolor: #A60303;
    --fontone: 'Oswald', sans-serif;
    --fontpirate: 'Pirata One', cursive;
}

* html {
    font-size: 62.5%;
}

.menu section {
    background-color: rgba(0, 255, 255, 0.178);
    height: 90px;
    display: flex;
    justify-content: space-around;
    border: 0.1rem solid lightgray;
}

.menu .list {
    display: flex;
}

.menu .list ul {
    list-style: none;
    display: flex;
}

.menu .list ul li a {
    font-family: var(--fontpirate);
    display: block;
    padding: 0.5rem;
    margin: 1.4rem;
    font-size: 1rem;
    position: relative;
    text-decoration: none;
    color: white;
    background-color: var(--primarycolor);
    border-radius: 0.8rem;
    height: 2.4rem;
    border: 1px solid black;


}

.menu .list ul li a:hover {
   background-color: var(--thirdcolor);
    color: black;
    box-shadow: 1px -1px 4px lightgray;
    transition: all 600ms ease-in-out;
}

.menu .logo {
    display: flex;
    width: 140px;
    margin: 20px;
}

.menu-spacing {
    height: 3rem;
}

.content {
    max-width: 120rem;
    margin: 0 auto;
}

.intro {
    margin: 30px;
    font-family: sans-serif;
}

.intro h2 {
    font-family: var(--fontpirate);
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}





